<div class="container" style="margin: 20px;">
  <div class="row">
    <div class="col-md-4 mb-3">
      <button 
        class="btn btn-outline-success mb-3"
        (click)="addNewQuiz()"
        >
        Add New Quiz
      </button>
      <div class="list-group mb-3">
        <button
          class="list-group-item d-flex justify-content-between align-items-center"
          *ngFor="let q of quizzes"
          (click)="selectQuiz(q)"
          [class.active]="q == selectedQuiz"
          >
        {{ q.name }}
          <small 
            class="font-italic font-weight-lighter"
            [class.text-danger]="q.questionCount == 0 && q != selectedQuiz"
            [class.text-white]="q == selectedQuiz"
          >{{ q.questionCount }} Questions</small>
        </button>
      </div>
    </div>
    <div 
      class="col-md-8"
      *ngIf="selectedQuiz == undefined"
    >
      <div class="card bg-light">
        <div class="card-body">
          <h5 class="card-title">
            No Quiz Selected
          </h5>
          <p class="card-text">
            please selected or add a new quiz
          </p>
        </div>
      </div>
    </div>
    <div 
      class="col-md-8"
      *ngIf="selectedQuiz != undefined"
    >
      <button class="btn btn-outline-dark mb-3">
        Save Quizzes
      </button>
      <button class="btn btn-link mb-3">
        Cancel
      </button>

      <div class="card mb-3">
        <div class="card-header">
          General
        </div>
        <div class="card-body">
          <span class="input-group-addon">Name</span>
          <input 
            type="text" 
            class="form-control col-md-7"
            [(ngModel)]="selectedQuiz.name"
            >
        </div>
      </div>

      <div class="card mb-3">
        <div class="card-header">
          Questions
          <span
            *ngIf="selectedQuiz.questionCount == 0"
            class="text-danger"
          >
            (no questions)
          </span>
        </div>
        <div class="card-body">
          Coming Soon
        </div>
      </div>

      <div class="card">
          <div class="card-header">
              Other
          </div>
          <div class="card-body">
             Coming Soon
          </div>
      </div>
    </div>
  </div>

</div>