<div class="container" style="margin: 20px;">
  <!-- failing to make a call to the api -->
  <div 
    class="row"
    *ngIf="failedToLoadQuizzes"
  >
    <h3>Failed to load quizzes, please refresh page to try again...</h3>
  </div>
  <!-- making a call to the api successfully -->
  <div 
    class="row"
    *ngIf="!failedToLoadQuizzes"
  >
    <div class="col-md-4">
      <!--Add new quiz behavior-->
      <button 
        class="btn btn-outline-success mb-3" 
        (click)="addNewQuiz()"
      >
        Add New Quiz
      </button>
      <!-- JS promises -->
      <button
        class="btn btn-link mb-3"
        (click)="jsPromisesOne()"
      >
        JS Promises 1
      </button>
      <button
        class="btn btn-link"
        (click)="jsPromisesTwo()"
      >
        JS Promises 2
      </button>
      <button
        class="btn btn-link"
        (click)="jsPromisesThree()"
      >
        JS Promises 3
      </button>
      
      <div class="list-group mb-3">
        <!-- line through quiz name if it is marked for delete -->
        <button 
          class="list-group-item d-flex justify-content-between align-items-center"
          *ngFor="let q of quizzes"
          (click)="selectQuiz(q)"
          [class.active]="q == selectedQuiz"
          [style.text-decoration]="q.markedForDelete ? 'line-through' : 'inherit'"
        >
          {{ q.name }}
          <!-- make it text red if q.questionCount is zero, and make text white if selected,
              where q is our Array property -->
          <small
            class="font-italic font-weight-lighter"
            [class.text-danger]="q.questions.length == 0 && q != selectedQuiz"
            [class.text-white]="q == selectedQuiz"
          >
          <!-- Add an "s" to "question" if more than one question -->
            {{ q.questions.length }} question<span *ngIf="q.questions.length !== 1">s</span>
          </small>
          </button>
      </div>
    </div>
    
    <!-- No selected quiz -->
    <div 
      class="col-md-8"
      *ngIf="selectedQuiz == undefined"
    >
      <div class="card bg-light text-center">
        <div class="card-body">
          <h5 class="card-title">
            No Quiz Selected
          </h5>
          <p class="card-text">
            Please select or add a new quiz...
          </p>
        </div>
      </div>
    </div>
    
    <!-- If quiz is selected -->
    <div 
      class="col-md-8"
      *ngIf="selectedQuiz != undefined"
    >
      <!-- comment to add  -->
      <button 
        class="btn btn-outline-dark mb-3"
        [class.btn-outline-dark]="numberOfDeletedQuizzes + numberOfAddedQuizzes + numberOfEditedQuizzes == 0"
        [class.btn-dark]="numberOfDeletedQuizzes + numberOfAddedQuizzes + numberOfEditedQuizzes > 0"
      >
        Save Quizzes
        <!-- shows badges if quizzes are marked for delete -->
        <span
          class="badge badge-danger ml-1"
          *ngIf="numberOfDeletedQuizzes > 0"
        >
          -{{ numberOfDeletedQuizzes }}
        </span>
        <!-- shows badge if quizzes are added  -->
        <span
          class="badge badge-success ml-1"
          *ngIf="numberOfAddedQuizzes > 0"
        >
          +{{ numberOfAddedQuizzes }}
        </span>
        <!-- shows badge if quizzes are edited  -->
        <span
          class="badge badge-light ml-1"
          *ngIf="numberOfEditedQuizzes > 0"
        >
          *{{ numberOfEditedQuizzes }}
        </span>
      </button>
      <button 
        class="btn btn-link mb-3"
        (click)="cancelBatchEdits()"
      >
        Cancel
      </button>
      <div class="card mb-3">
        <div class="card-header">
          General
        </div>
        <div class="card-body">
          <!-- edit selected quiz name behavior   -->
          <input 
            class="form-control"
            type="text" 
            [(ngModel)]="selectedQuiz.name"
          >
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-header">
          Questions
          <!-- If no questions in the quiz, output text in red -->
          <span
            *ngIf="selectedQuiz.questions.length == 0"
            class="text-danger"
          >
            (No Questions)
          </span>
          <!-- Add new question to quiz -->
          <button
            class="btn btn-outline-success mb-3"
            (click)="addNewQuestion()"
          >
            Add Question
          </button>
        </div>
        <div class="card-body">
          <!-- Output quiz questions to the page -->
          <div 
            class="form-row"
            *ngFor="let question of this.selectedQuiz.questions"
          >
            <!-- bind question name -->
            <input 
              class="form-control mb-3 col-md-10"
              type="text"
              [(ngModel)]="question.name"
            >
            <!-- Remove question -->
            <button
              (click)="removeQuestion(question)"
              class="btn btn-link mb-3 col-md-2"
            >
              Remove
            </button>
          </div>
        </div>
      </div>
      
      <!-- add collapse functionality from ng-bootstrap  -->
      <ngb-accordion>
        <ngb-panel title="Other">
          <div class="card">
            <div class="card-header" >
              Other
            </div>
            <!-- Mark quizzes for deletion -> bidirectional binding - state of our app  -->
            <ng-template ngbPanelContent>
              <div class="card-body">
                <div class="form-check">
                  <input 
                    class="form-check-input" 
                    type="checkbox" value="" 
                    id="defaultCheck1"
                    [(ngModel)]="selectedQuiz.markedForDelete"
                  >
                  <!-- Make text red if marking quiz for deletion -->
                  <label 
                    class="form-check-label" 
                    for="defaultCheck1"
                    [class.text-danger]="selectedQuiz.markedForDelete"
                  >
                    Marked for delete
                  </label>
                </div>
              </div>
            </ng-template>
          </div>
        </ngb-panel>
      </ngb-accordion>
        
      </div>
  </div>
</div>






