<div class="container" style="margin: 20px;">
  <div class="row">
    <div class="col-md-4">
      <button class="btn btn-outline-success mb-3">
        Add New Quiz
      </button>
        <div class="card">
            <div class="card-header">
              Quizzes
            </div>
            <div class="card-body">
              Coming Soon!
            </div>
          </div>
    </div>
    <div class="col-md-8">
      <button class="btn btn-outline-dark">
        Save Quizzes
      </button>
      <button class="btn btn-link mb-3">
        Cancel
      </button>
      <div class="card">
        <div class="card-header">
          General
        </div>
        <div class="card-body">
          Coming soon!
        </div>
        <div class="card">
            <div class="card-header">
              General
            </div>
            <div class="card-body">
              Coming soon!
            </div><div class="card">
                <div class="card-header">
                  General
                </div>
                <div class="card-body">
                  Coming soon!
              </div>
      </div>
    </div>
  </div>

</div>


